PackingClassLibrary/Service References/SetRGAService/KrausWarehouseServices3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.16:28/KrausWarehouseServices.Service.RMA.Save.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.RMA" />
  <xs:import schemaLocation="http://192.168.1.16:28/KrausWarehouseServices.Service.RMA.Save.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" />
  <xs:element name="ReasonCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.RMA" minOccurs="0" name="reasonCat" nillable="true" type="q1:ReasonCategoryDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReasonCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReasonCategoryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reasons">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.RMA" minOccurs="0" name="reasons" nillable="true" type="q2:ReasonsDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReasonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReasonsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Return">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.RMA" minOccurs="0" name="_return" nillable="true" type="q3:ReturnDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReturnResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnByPOnmber">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.RMA" minOccurs="0" name="_return" nillable="true" type="q4:ReturnDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnByPOnmberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReturnByPOnmberResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnByRGANumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.RMA" minOccurs="0" name="_return" nillable="true" type="q5:ReturnDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnByRGANumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReturnByRGANumberResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.RMA" minOccurs="0" name="returndetail" nillable="true" type="q6:ReturnDetailsDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReturnDetailsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnImages">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.RMA" minOccurs="0" name="returnimages" nillable="true" type="q7:ReturnImagesDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnImagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReturnImagesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SKUReasons">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.RMA" minOccurs="0" name="SKU" nillable="true" type="q8:SKUReasonsDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SKUReasonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SKUReasonsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SKUReasons1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.RMA" minOccurs="0" name="SKU" nillable="true" type="q9:SKUReasonsDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SKUReasons1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SKUReasons1Result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="user" nillable="true" type="q10:UserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpsertAudit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.RMA" minOccurs="0" name="audit" nillable="true" type="q11:RMAAuditDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpsertAuditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpsertAuditResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnedSKUPoints">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.RMA" minOccurs="0" name="_returnedSkuPoints" nillable="true" type="q12:ReturnedSKUReasonPointsDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnedSKUPointsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReturnedSKUPointsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRMAComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.RMA" minOccurs="0" name="_comment" nillable="true" type="q13:RMACommentDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRMACommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertRMACommentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>