PackingClassLibrary/Service References/DeleteRMAService/Delete.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Delete" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.16:28/KrausWarehouseServices.Service.RMA.Delete.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.1.16:28/KrausWarehouseServices.Service.RMA.Delete.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDelete_ReturnDetailsallForeignKeyTables_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnDetailsallForeignKeyTables" />
  </wsdl:message>
  <wsdl:message name="IDelete_ReturnDetailsallForeignKeyTables_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnDetailsallForeignKeyTablesResponse" />
  </wsdl:message>
  <wsdl:message name="IDelete_DeleteBothReasonsByReturnDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBothReasonsByReturnDetails" />
  </wsdl:message>
  <wsdl:message name="IDelete_DeleteBothReasonsByReturnDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBothReasonsByReturnDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IDelete_DeleteRecordByReturnDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRecordByReturnDetails" />
  </wsdl:message>
  <wsdl:message name="IDelete_DeleteRecordByReturnDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRecordByReturnDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IDelete_ReasonCategoryByReasonID_InputMessage">
    <wsdl:part name="parameters" element="tns:ReasonCategoryByReasonID" />
  </wsdl:message>
  <wsdl:message name="IDelete_ReasonCategoryByReasonID_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReasonCategoryByReasonIDResponse" />
  </wsdl:message>
  <wsdl:message name="IDelete_SKUReasonsByReturnDetailsID_InputMessage">
    <wsdl:part name="parameters" element="tns:SKUReasonsByReturnDetailsID" />
  </wsdl:message>
  <wsdl:message name="IDelete_SKUReasonsByReturnDetailsID_OutputMessage">
    <wsdl:part name="parameters" element="tns:SKUReasonsByReturnDetailsIDResponse" />
  </wsdl:message>
  <wsdl:message name="IDelete_ReasonsByReasonID_InputMessage">
    <wsdl:part name="parameters" element="tns:ReasonsByReasonID" />
  </wsdl:message>
  <wsdl:message name="IDelete_ReasonsByReasonID_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReasonsByReasonIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IDelete">
    <wsdl:operation name="ReturnDetailsallForeignKeyTables">
      <wsdl:input wsaw:Action="http://tempuri.org/IDelete/ReturnDetailsallForeignKeyTables" message="tns:IDelete_ReturnDetailsallForeignKeyTables_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDelete/ReturnDetailsallForeignKeyTablesResponse" message="tns:IDelete_ReturnDetailsallForeignKeyTables_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBothReasonsByReturnDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IDelete/DeleteBothReasonsByReturnDetails" message="tns:IDelete_DeleteBothReasonsByReturnDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDelete/DeleteBothReasonsByReturnDetailsResponse" message="tns:IDelete_DeleteBothReasonsByReturnDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRecordByReturnDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IDelete/DeleteRecordByReturnDetails" message="tns:IDelete_DeleteRecordByReturnDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDelete/DeleteRecordByReturnDetailsResponse" message="tns:IDelete_DeleteRecordByReturnDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReasonCategoryByReasonID">
      <wsdl:input wsaw:Action="http://tempuri.org/IDelete/ReasonCategoryByReasonID" message="tns:IDelete_ReasonCategoryByReasonID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDelete/ReasonCategoryByReasonIDResponse" message="tns:IDelete_ReasonCategoryByReasonID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SKUReasonsByReturnDetailsID">
      <wsdl:input wsaw:Action="http://tempuri.org/IDelete/SKUReasonsByReturnDetailsID" message="tns:IDelete_SKUReasonsByReturnDetailsID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDelete/SKUReasonsByReturnDetailsIDResponse" message="tns:IDelete_SKUReasonsByReturnDetailsID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReasonsByReasonID">
      <wsdl:input wsaw:Action="http://tempuri.org/IDelete/ReasonsByReasonID" message="tns:IDelete_ReasonsByReasonID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDelete/ReasonsByReasonIDResponse" message="tns:IDelete_ReasonsByReasonID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDelete" type="tns:IDelete">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReturnDetailsallForeignKeyTables">
      <soap:operation soapAction="http://tempuri.org/IDelete/ReturnDetailsallForeignKeyTables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBothReasonsByReturnDetails">
      <soap:operation soapAction="http://tempuri.org/IDelete/DeleteBothReasonsByReturnDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRecordByReturnDetails">
      <soap:operation soapAction="http://tempuri.org/IDelete/DeleteRecordByReturnDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReasonCategoryByReasonID">
      <soap:operation soapAction="http://tempuri.org/IDelete/ReasonCategoryByReasonID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SKUReasonsByReturnDetailsID">
      <soap:operation soapAction="http://tempuri.org/IDelete/SKUReasonsByReturnDetailsID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReasonsByReasonID">
      <soap:operation soapAction="http://tempuri.org/IDelete/ReasonsByReasonID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Delete">
    <wsdl:port name="BasicHttpBinding_IDelete" binding="tns:BasicHttpBinding_IDelete">
      <soap:address location="http://192.168.1.16:28/KrausWarehouseServices.Service.RMA.Delete.svc/SOA" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>