PackingClassLibrary/Service References/SetService/KrausWarehouseServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.16:28/KrausWarehouseServices.Service.Shipping.Save.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" />
  <xs:import schemaLocation="http://192.168.1.16:28/KrausWarehouseServices.Service.Shipping.Save.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="Audit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="_audit" nillable="true" type="q1:ArrayOfAutditDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuditResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BoxPackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="_boxpackage" nillable="true" type="q2:ArrayOfBoxPackageDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BoxPackageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BoxPackageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Package">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="_package" nillable="true" type="q3:ArrayOfPackageDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PackageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackageDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="_packagedetail" nillable="true" type="q4:ArrayOfPackageDetailDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackageDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PackageDetailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Role">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="_role" nillable="true" type="q5:ArrayOfRoleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RoleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Shipping">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="_shipping" nillable="true" type="q6:ArrayOfShippingDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShippingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShippingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StationMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="_stationmaster" nillable="true" type="q7:ArrayOfStationMasterDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StationMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StationMasterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="_user" nillable="true" type="q8:ArrayOfUserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateByUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="_user" nillable="true" type="q9:ArrayOfUserDTO" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="UserID" type="q10:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateByUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="_userstation" nillable="true" type="q11:ArrayOfUserStationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserStationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserStationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ErrorLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/KrausWarehouseServices.DTO.Shipping" minOccurs="0" name="_errorlog" nillable="true" type="q12:ArrayOfErrorLogDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ErrorLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ErrorLogResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackingUpdateByReadytoExpert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TrackingNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BoxNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ReadyToExpert" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackingUpdateByReadytoExpertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TrackingUpdateByReadytoExpertResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>